.DS_Store
.Rhistory
analyses
analyses/.DS_Store
analyses/G1_gam_FA.Rda
analyses/G1_gam_UNC_L.Rda
analyses/G1_gam_UNC_R.Rda
analyses/G2_gam_FA.Rda
analyses/G2_gam_UNC_L.Rda
analyses/G2_gam_UNC_R.Rda
analyses/G3_gam_FA.Rda
analyses/G3_gam_UNC_L.Rda
analyses/G3_gam_UNC_R.Rda
analyses/Master_dataframe_G1.csv
analyses/Master_dataframe_G2.csv
analyses/Master_dataframe_G3.csv
analyses/analysis1/
analyses/memory/
analyses/plots_gam/
analyses/plots_lm/
analyses/stats_gam/
analyses/stats_lm/
analyses/tables/
